:root {
    --navbar-bg: rgba(0, 0, 0, 0.7);
    --navbar-text: white;
    --hover-color: rgba(255, 255, 255, .9);
    --font-size: 22px;
    --card-margin: 1em;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
    gap: 75rem;
    background-color: var(--navbar-bg);
}

.navbar-brand{
    padding: 0.9rem 1rem;
    text-decoration: none;
    color: var(--navbar-text);
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    font-size: var(--font-size);
}

.navbar-brand:hover {
    border-color: var(--hover-color);
}

#navbar-side-buttons{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}