@font-face {
    font-family: 'CentraNo2-Bold';
    src: url('../assets/fonts/CentraNo2-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'CentraNo2-Book';
    src: url('../assets/fonts/CentraNo2-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'CentraNo2-Medium';
    src: url('../assets/fonts/CentraNo2-Medium.ttf') format('truetype');
}

:root {
    --navbar-bg: rgba(0, 0, 0, 0.5);
    --navbar-text: #e5ffff;
    --hover-color: rgba(255, 255, 255, .9);
    --font-size: 22px;
    --card-margin: 1em;
    --font-family-bold: 'CentraNo2-Bold', sans-serif;
    --font-family-book: 'CentraNo2-Book', sans-serif;
    --font-family-medium: 'CentraNo2-Medium', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    gap: 75rem;
    background-color: var(--navbar-bg);
}

.side-buttons-container{
    padding: 0.9rem 1rem;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    font-size: var(--font-size);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.side-button{
    color: var(--navbar-text);
    text-decoration: none;
    display: block;
    padding: 1rem;
    border: 1px solid transparent;
}

.side-button:hover{
    color: var(--hover-color);
    text-decoration: none;
    border-color: var(--hover-color);
}

.side-button:visited{
    text-decoration: none;
    color: var(--hover-color);
}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
}

nav {
    background-color: transparent;
    transition: background-color 0.3s ease;
}