:root{
    --gradient-transparency: 0.5;
    --gradient-bg-first-color: rgba(170, 54, 124, var(--gradient-transparency));
    --gradient-bg-second-color: rgba(74, 47, 189, var(--gradient-transparency));
    --gradient-background: linear-gradient(to right, var(--gradient-bg-first-color), var(--gradient-bg-second-color));
}

.welcome-background {
    background-size: cover;
    min-height: 100vh;
    color: #f5f5f5;
}

.main-content{
    padding-top: 7rem;
}

.title{
    border-color: white;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    padding: 1.75rem;
    background: var(--gradient-background);
    color: white;
}

.step-image {
}

#step-image-1 {
    width: 37.5rem;
    height: 25rem;
}

#step-image-2 {
}

#step-image-3 {
    width: 35rem;
    height: 20rem;
}

#step-image-4 {
    width: 35rem;
    height: 20rem;
    margin-bottom: 3rem;
}